@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-image: url('../assets//pokemon-background.jpg');
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 48px;
    color: #ffeb33; /* Red color similar to Pokémon logo */
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 2px black; /* For webkit browsers (Chrome, Safari) */
    text-stroke: 2px black; /* Standard property for text stroke */
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.search-bar {
    width: 50px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 22px;
    border: 1px solid black;
    background-color: white;
    font-family: 'Press Start 2P', cursive;
}

.search-button {
    padding: 10px 20px;
    font-size: 22px;
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Press Start 2P', cursive;
}

.search-button:hover {
    background-color: #cc0000; 
}

.pokemon-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: rgb(202, 224, 219);
    border-radius: 10px;
}

img {
    width: 150px;
    height: 150px;
}

h3 {
    color: blue;
}

